/* App.css */
.app {
  display: flex;
  height: 100vh;
}

.background-image {
  height: 100%;
  width: 100%;
}

.left-half {
  flex: 1;
  display: flex;
}

.right-half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column; /* Stack elements vertically on small screens */
  }

  .left-half,
  .right-half {
    flex: none; /* Remove the flex property so they don't grow or shrink */
    width: 100%; /* Make them take up the full width */
  }

  .background-image {
    height: 50vh; /* Adjust the height as needed */
  }
}
